.main-header{
    display: flex;
    justify-content: space-between;
    padding:20px 40px;
    background-color: rgb(241, 245, 245); 

    box-shadow: 0 4px 8px gainsboro;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main-header> .logo{
font-size: 2rem;
line-height: 1em;
}
.main-header> .btn{

}